@import url('https://fonts.googleapis.com/css?family=Trirong');
@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  font-family: "Trirong", serif;
}

/* Variables for consistent colors and styling */
:root {
  --primary-color: #2D3B45;
  --secondary-color: #5624D0;
  --accent-color: #A435F0;
  --background-color-1: #F8F9FB;
  --text-color: #1C1D1F;
  --border-color: #95989a;
  --success-color: #19A463;
  --warning-color: #F69C08;
  --logo-yellow :#fae534;
}
/* Scroll-Bar */
@media (min-width: 508px) {
  /* For WebKit browsers (Chrome, Safari, Edge) */
  /* Webkit Browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 10px;
  height: 10px; /* for horizontal scrollbar */
}

::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: var(--logo-yellow);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--secondary-color);
}

/* Firefox */
html {
  scrollbar-width: thin;  /* For Firefox */
  scrollbar-color: var(--border-color) #f0f0f0;
}
}

/* Base styles */
body {
  color: var(--text-color);
}
.logo{
  cursor: pointer;
}
/* Responsive design */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column; /* Stack items vertically on small screens */
  }
  .Hero-img{
    display: none;
  }
  .hero-text-div{
    margin-bottom: 5%;
  }
  .search-bar{
    width: 60%;
    margin-top: 2%;
    margin-bottom: 1%;
    height: 100%;
  }  
  .logo{
    margin-left: 0.5%;
  }
  .browse-button{
    display: none;
    padding: 0;
  }
  ::-webkit-scrollbar {
    display: none;
  }
}
@media (min-width : 768px) and (max-width : 1024px) {
  .search-bar{
    padding-left: 1%;
  }
}
@media (max-width:768px) and (min-width: 500px){
  .search-bar{
    margin-top: 1%;
    height: 100%;
  }
}
@media (min-width:1280px){
  .search-bar{
    margin-left: 15%;
  }
}
@media (max-width: 1024px){
  .sign-in-up{
    display: none;
  }
}
@media (min-width: 1024px) {
  .multi-cards:hover {
    z-index: 10;
  }
  
  .multi-cards .motion-container {
    display: block;
  }
}