@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

/* Variables for consistent colors and styling */
:root {
  --primary-color: #2D3B45;
  --secondary-color: #5624D0;
  --accent-color: #A435F0;
  --background-color-1: #F8F9FB;
  --text-color: #1C1D1F;
  --border-color: #D1D7DC;
  --success-color: #19A463;
  --warning-color: #F69C08;
}

/* Base styles */
body {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, sans-serif;
  color: var(--text-color);
  background-color: var(--background-color);
}
.logo{
  cursor: pointer;
}
/* Responsive design */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column; /* Stack items vertically on small screens */
  }
}
@media screen and (max-width: 768px) {
  .browse-button {
    display: none; /* Hide the button on mobile */
  }
  .search-bar{
    width: 60%;
    margin-top: 2%;
    margin-bottom: 2%;
    height: 100%;
  }
  .logo{
    margin-left: 0.5%;
  }
}
@media (min-width:1280px){
  .search-bar{
    margin-left: 15%;
  }
}
@media (max-width: 1085px){
  .sign-in-up{
    display: none;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .search-bar{
    width: 60%;
    margin-bottom: 2%;
    height: 80%;
  }
}